.header {
    /* Position the header at the top of the viewport */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Take up the full width of the viewport */
    height: 40%; /* Set a fixed height of 5rem */
    background-color: #83f1ff; /* Set the background color */
    color: rgb(0, 0, 0); /* Set the text color */
    display: flex; /* Use flexbox for layout */
    flex-direction: column;
    justify-content: center; /* Horizontally center the content */
    align-items:center; /* Vertically center the content */
    padding: 0 10%; /* Add padding on the left and right sides */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); /* Add a box shadow */
    z-index: 10; /* Set the z-index */
  }
  